<%- include('partials/header'); -%>
<div class="content">
    <h1>Hello</h1>
    
    <% posts.forEach(function(post){ %>
     <p><%= post.title %></p> <br>
     <p><%= post.content.substring(0,100)+"..."%>
    <a href="posts/<%=post.title%>">read more</a></p> <br>
    <%})%>
    

</div>
<%- include('partials/footer'); -%>